# Backend Configuration
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/netflix_db
SECRET_KEY=c42e0fc1995541741dsomethinginbetween0105eda2878b70a7c56843b61

# TMDB API Key (GET ONE FROM https://www.themoviedb.org/documentation/api)
TMDB_API_KEY=your_tmdb_api_key_here
