fastapi
uvicorn
sqlalchemy[asyncio]
asyncpg
pydantic
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
python-multipart
scikit-learn
httpx
python-dotenv
email-validator
pandas
bcrypt==3.2.0
numpy
cachetools
